# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [58]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [81]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [82]:
# your code here
response = requests.get(url)
response

In [83]:
soup = BeautifulSoup(response.content, features = "lxml")
#print(soup.prettify())

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [85]:
names = soup.find_all('h1', attrs = {'class': 'h3 lh-condensed'})
trend = []
for name in names:
    dev_name = name.text
    clean = re.sub('\n', '', dev_name)
    cleaner = re.sub(' ', '', clean)
    trend.append(cleaner)
#print(trend) 

reps = soup.find_all('p', attrs = {'class': 'f4 text-normal mb-1'})
reposet = []
for link in reps:
    rep_name = link.text
    bright = re.sub('\n', '', rep_name)
    brighter = re.sub(' ', '', bright)
    reposet.append(brighter)
#print(reposet)

full = []
for i in range(len(trend)):
    developer = trend[i] + ' ' + '(' + reposet[i] + ')' 
    full.append(developer)
print(*full, sep = "\n")

JesseDuffield (jesseduffield)
R.I.Pienaar (ripienaar)
WojciechMaj (wojtekmaj)
AlexeyPalazhchenko (AlekSi)
Janry (janryWang)
JesseHills (jesserockz)
HaThach (hathach)
SimonPrickett (simonprickett)
OleksandrFediashov (layershifter)
ErikRasmussen (erikras)
Amanieud'Antras (Amanieu)
FelixAngelov (felangel)
LeeRobinson (leerob)
KoudaiAono (koxudaxi)
JeremyLong (jeremylong)
NachoSoto (NachoSoto)
ThibaultDuplessis (ornicar)
AsimAslam (asim)
MathiasFußenegger (mfussenegger)
AdhirajSingh (adiwajshing)
StefanProdan (stefanprodan)
AdamArgyle (argyleink)
MarcRousavy (mrousavy)
JacobEbey (jacob-ebey)
ArturArseniev (artf)

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [87]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [88]:
# your code here
response = requests.get(url)
response

In [89]:
soup = BeautifulSoup(response.content, features = "lxml")
#print(soup.prettify())

In [91]:
repos = soup.find_all('h1', attrs = {'class': 'h3 lh-condensed'})
trendy = []
for name in repos:
    rep_name = name.text
    clean = re.sub('\n', '', rep_name)
    cleaner = re.sub(' ', '', clean)
    cleanest = re.sub('/', ' / ', cleaner)
    trendy.append(cleanest)
print(*trendy, sep = '\n')

public-apis / public-apis
KurtBestor / Hitomi-Downloader
sinwindie / OSINT
huggingface / transformers
mlflow / mlflow
PyTorchLightning / pytorch-lightning
ckan / ckan
django / django
TencentARC / GFPGAN
optuna / optuna
deepset-ai / haystack
zulip / zulip
facebookresearch / demucs
libffcv / ffcv
hunshcn / gh-proxy
DatacollectorVN / Docker-Tutorial
emissary-ingress / emissary
sqlfluff / sqlfluff
ppogg / YOLOv5-Lite
yetao0806 / NodeNote
apache / tvm
pytorch / vision
NVlabs / imaginaire
tiangolo / fastapi
PaddlePaddle / PaddleVideo

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [132]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [133]:
# your code here
response = requests.get(url)
response

In [134]:
soup = BeautifulSoup(response.content, features = "lxml")
#print(soup.prettify())

In [98]:
# I found this method in google

images = soup.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    print(image['src']+'\n')

//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg

//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg

In [136]:
# But this I did by myself according to our lesson, because i saw on wikipedia page,
# that html-code has exactly links for each image and it is possible to click 
# and see it. So i wanted to extract it as well

images1 = soup.find_all('a', attrs = {'class': 'image'})
image1 = images1[0] 
image1['href']

'/wiki/File:Walt_Disney_1946.JPG'

In [137]:
url_list = ['https://en.wikipedia.org/' + image1['href'] for image1 in images1]
url_list

['https://en.wikipedia.org//wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org//wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org//wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org//wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org//wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org//wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org//wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org//wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org//wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org//wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org//wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org//wiki/File:P_vip.svg',
 'https://en.wikipedia.org//wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org//wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org//wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_the_United_States.svg']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [181]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [182]:
# your code here
response = requests.get(url)
response

In [183]:
soup = BeautifulSoup(response.content, features = "lxml")
#print(soup.prettify())

In [185]:
languages = soup.find_all('div', attrs = {'class': 'central-featured-lang'})
for language in languages:
    a = language.strong.text
    b = language.small.text
    #c = re.sub('\xa0','', b) -> at first chacking 'b' gave me not clean number, 
    #but in the end 'print' gave us pretty format, but this line works anyway 
    print(a, b)

English 6 383 000+ articles
日本語 1 292 000+ 記事
Русский 1 756 000+ статей
Deutsch 2 617 000+ Artikel
Español 1 717 000+ artículos
Français 2 362 000+ articles
中文 1 231 000+ 條目
Italiano 1 718 000+ voci
Português 1 074 000+ artigos
Polski 1 490 000+ haseł

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [164]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [168]:
# your code here
# here i am cheacking how many tables url has
native = pd.read_html(url)
print(f'Total tables: {len(native)}')

Total tables: 10

In [169]:
# here i specify by name what table i need and check how many matches appears
native = pd.read_html(url, match='Languages with at least 10 million first-language speakers')
len(native)

1

In [170]:
# creating a dataframe of the table i need
df = native[0]
df

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
...,...,...,...,...,...,...
86,87,Czech,10.7,0.139%,Indo-European,Balto-Slavic
87,88,Taʽizzi-Adeni Arabic,10.5,0.136%,Afroasiatic,Semitic
88,89,Uyghur,10.4,0.135%,Turkic,Karluk
89,90,Eastern Min,10.3,0.134%,Sino-Tibetan,Sinitic
90,91,Sylheti,10.3,0.134%,Indo-European,Indo-Aryan

In [171]:
# before sorting the values by speakers, i need to be sure that my data is numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     91 non-null     int64
 1   Language                                 91 non-null     object
 2   Speakers(millions)                       91 non-null     object
 3   Percentageof world pop.(March 2019)[10]  91 non-null     object
 4   Language family                          91 non-null     object
 5   Branch                                   91 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.4+ KB

In [178]:
# trying to change data into numeric i faced the problem, that some of number had a quote
# so at first i clean it and change object into numeric
df['Speakers(millions)'] = df['Speakers(millions)'].str.replace("a", "")
df['Speakers(millions)'] = df['Speakers(millions)'].str.replace("[", "")
df['Speakers(millions)'] = df['Speakers(millions)'].str.replace("]", "")
df["Speakers(millions)"] = df["Speakers(millions)"].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 8 to 90
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Rank                                     91 non-null     int64
 1   Language                                 91 non-null     object
 2   Speakers(millions)                       91 non-null     float64
 3   Percentageof world pop.(March 2019)[10]  91 non-null     object
 4   Language family                          91 non-null     object
 5   Branch                                   91 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.0+ KB

In [180]:
# sort top 10
df = df.sort_values(by=["Speakers(millions)"], ascending= False)
df.head(10)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341.0,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300.0,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221.0,2.870%,Indo-European,Romance
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[12],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [200]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [201]:
# your code here
response = requests.get(url)
response

In [202]:
soup = BeautifulSoup(response.content, features = "lxml")
#print(soup.prettify())

In [219]:
movies = soup.find_all('table', {'class':'chart full-width'})
#movies
data = []

for movie in movies:
    for row in movie.findAll('td', {'class':'titleColumn'}):
        
        # take a name
        movie_names = row.findAll("a")
        movie_name = movie_names[0].text
        
        # take a year
        movie_years = row.findAll('span', {'class' :'secondaryInfo'})
        movie_year = movie_years[0].text
        movie_year = re.sub('[^0-9 ]+', '', movie_year)
        
        # take director and stars
        movie_directors = row.findAll("a")
        movie_director = movie_directors[0]
        movie_director = movie_director['title']
        
        # creating a dictionary of info
        data.append({'Movie name': movie_name,
                     'Initial release' : movie_year, 
                     'Director name and stars': movie_director})

data1 = []
for rating in movies:
    for row in movie.findAll('td',{'class':'ratingColumn imdbRating'}):
        
        #take a rating
        movie_ratings = row.findAll('strong')
        movie_rating = movie_ratings[0].text
        data1.append({'Rating': movie_rating})

# creating a dataframe
top = pd.DataFrame(data)
toprate = pd.DataFrame(data1)
topimdb = pd.concat([top,toprate], axis=1)
topimdb

,Movie name,Initial release,Director name and stars,Rating
0,Os Condenados de Shawshank,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2
1,O Padrinho,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.1
2,O Padrinho: Parte II,1974,"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0
3,O Cavaleiro das Trevas,2008,"Christopher Nolan (dir.), Christian Bale, Heat...",9.0
4,Doze Homens em Fúria,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.9
...,...,...,...,...
245,As Noites de Cabíria,1957,"Federico Fellini (dir.), Giulietta Masina, Fra...",8.0
246,Andrei Rublev,1966,"Andrei Tarkovsky (dir.), Anatoliy Solonitsyn, ...",8.0
247,Shin seiki Evangelion Gekijô-ban: Air/Magokoro...,1997,"Hideaki Anno (dir.), Megumi Ogata, Megumi Haya...",8.0
248,Drishyam,2013,"Jeethu Joseph (dir.), Mohanlal, Meena",8.0
249,A Princesa Prometida,1987,"Rob Reiner (dir.), Cary Elwes, Mandy Patinkin",8.0

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [220]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [221]:
# your code here
response = requests.get(url)
response

In [222]:
soup = BeautifulSoup(response.content, features = "lxml")
#print(soup.prettify())

In [258]:
movies = soup.find_all('div', {'class':'lister-item-content'})
#movies
data = []
for movie in movies:
    
    # take a name
    movie_names = movie.find("a")
    movie_name = movie_names.text
    
    # take a year
    movie_years = movie.find('span', {'class':'lister-item-year text-muted unbold'})
    movie_year = movie_years.text
    movie_year = re.sub('[^0-9 ]+', '', movie_year)
    
    # take a brief summary
    movie_briefs = movie.findAll('p')
    movie_brief = movie_briefs[1].text
    movie_brief = re.sub('\n', '', movie_brief)
    
    # creating a dictionary of info
    data.append({'Movie name': movie_name,
                'Initial release' : movie_year, 
                'Brief summary': movie_brief})
    
random10 = pd.DataFrame(data)
random10.head(10)

,Movie name,Initial release,Brief summary
0,Pesadelo em Elm Street,1984,Teenager Nancy Thompson must uncover the dark ...
1,Despertares,1990,The victims of an encephalitis epidemic many y...
2,Liga de Mulheres,1992,Two sisters join the first female professional...
3,Um Bairro em Nova Iorque,1993,A father becomes worried when a local gangster...
4,Anjos em Campo,1994,When a boy prays for a chance to have a family...
5,Tempo de Matar,1996,"In Canton, Mississippi, a fearless young lawye..."
6,Amistad,1997,"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,1997,"A ""National Geographic"" film crew is taken hos..."
8,"A Cool, Dry Place",1998,"Russell, single father balances his work as a ..."
9,América Proibida,1998,A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here